<section class="main" ng-controller="accountDetails">
	<h2>Accounts list</h2>
	<h4>Add accounts</h4>
	<form name="accountsForm" ng-submit="addAccounts()" novalidate>
		<input type="text" name="username" ng-model="username">
		<button type="submit" class="btn" ng-disabled="accountsForm.$invalid && !username.length">Add</button>
	</form>
	<div ng-repeat="account in accounts">
		<button ng-click="deleteUser(account)">X</button>
		<p>Key: {{account.key}} - {{account.username}}</p>
	</div>
</section>